/*Body color and font for entire page*/
body {
  font-family: sans-serif;
  background-color: #ffffff;
}
/*Wrapper for entire card*/
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/*Header*/
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: black;
}
/*Area where password is generated*/
.passwordArea {
  background-color:white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: black;
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.passwordArea-body {
  min-height: 100px;
}

.passwordArea-footer {
  text-align: center;
}
/*The "Generate Password" button*/
.theButton {
  border: none;
  background-color: darkred;
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 15px 15px 15px 20px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
}
/*The Area where the newly generated password appears*/
#password {
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed black;
  border-radius: 6px;
  overflow: auto;
}

